<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>File Scanner</title>
    </head>
    <body>
        <ul>
            <li><button><a href="mask.html">Scan by mask</a></button></li>
            <li><button><a href="kb.html">Scan by kb</a></button></li>
            <li><button><a href="kbAndMask.html">Scan by mask and kb</a></button></li>
            <li><button><a href="time.html">Scan by time</a></button></li>
            <li><button><a href="content.html">Scan by content</a></button></li>
        </ul>
    </body>
</html>
