<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Scan by kb</title>
    </head>
    <body>
        <ul>
            <li><button><a th:href="@{/}">go home</a></button></li>
        </ul>

        <form th:action="@{/scanthKB}" method="get">
            <label>Path:
                <input type="text" name="path" placeholder="c:/myDir">
            </label><br>
            <label>KB borders:
                <input type="text" name="kb" placeholder="1, 2">
            </label><br>
            <button type="submit">Start scanning</button>
        </form>

        <hr>

        <div th:if="${result != null}">
            <h2>Results for: <span th:text="${result.path}"></span></h2>
            <ul>
                <li th:each="file : ${result.files}" th:text="${file.path}"></li>
            </ul>
        </div>
    </body>
</html>
