<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Scan by time</title>
    </head>
    <body>
        <ul>
            <li><button><a th:href="@{/}">go home</a></button></li>
        </ul>

        <form th:action="@{/scanthTime}" method="get">
            <label>Path:
                <input type="text" name="path" placeholder="c:/myDir">
            </label><br>
            <label>Time:
                <input type="text" name="time" placeholder="3d">
            </label><br>
            <button type="submit">Start scanning</button>
        </form>

        <hr>

        <div th:if="${result != null}">
            <h2>Results for: <span th:text="${result.path}"></span></h2>
            <ul>
                <li th:each="file : ${result.files}" th:text="${file.path}"></li>
            </ul>
        </div>
    </body>
</html>
